<header>
    <nav>
        <a href="/">BWCC</a>
        <ul>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/teams/new">Add Team</a></li>
            <li><a href="/fixtures">Fixtures</a></li>
            <li><a href="/fixtures/new">Add Fixture</a></li>
        </ul>
    </nav>
</header>