<h2>New Fixture</h2>
<form action ="/fixtures" method="POST" enctype="multipart/form-data">

    <%- include('_form_fields') %>

    <a href="/fixtures">Cancel</a>
    <button type="submit">Create</button>
</form>

